/*#..••°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°••..
✬ File:            .Xresources                          ✬
✬ Author:          Albert Kerelis                       ✬
✬ Source:          https://github.com/frolickingpotato/dotfiles/.Xresources    
✬ Description:     My Color Scheme						 ✬
✬ Created:         Wed May 25 2022 22:38:15 CDT         ✬
✬ Proper Home:     ~/.Xresources		                 ✬
°°••.................................................••°*/

! special
*.foreground:   #a37a77
*.background:   #37423d
*.cursorColor:  #a37a77

! black
*.color0:       #37423d
*.color8:       #a1755c

! red
*.color1:       #8dbd6c
*.color9:       #6c886f

! green
*.color2:       #8a9b71
*.color10:      #aab283

! yellow
*.color3:       #c4623d
*.color11:      #c69459

! blue
*.color4:       #a1755c
*.color12:      #ae8b6b

! magenta
*.color5:       #5b6a7c
*.color13:      #818890

! cyan
*.color6:       #19a473
*.color14:      #278482

! white
*.color7:       #895255
*.color15:      #a37a77

Xcursor.theme: ArcDusk-cursors
Xcursor.size: 16
